<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn!</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
    <script src="app.js"></script>
    <div ng-app="myApp" ng-controller="myCtrl">
        <table border="0">
            <td>
                <input type="text" ng-model="appCtrl.searchParam" placeholder="search">
                <br/>

            </td>
        </table>
        <p ng-bind="appCtrl.searchParam"></p>

        <br/>
        <table border="0">
            <tr>
                <th> Name </th>
                <th> Age</th>
                <th> Sex</th>
                <th> Relationship-status</th>
            </tr>
            <tr ng-repeat="detail in records">
                <td>{{ detail.name }}</td>
                <td>{{ detail.age }}</td>
                <td>{{ detail.sex }}</td>
                <td>{{ detail.relationship }}</td>
            </tr>

        </table>

    </div>
</body>
</html>
